<div class="container">
    <page-title> </page-title>
    <div ng-cloak class="alert alert-success" role="alert">
        <page-description></page-description>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Phone</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{page.content.phone}}</h6>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Email</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{page.content.email}}</h6>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">City</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{page.content.city}}</h6>
            </div>
        </div>
    </div>
</div>